footer {
  padding-bottom: 1rem;
  background-color: var(--color-2);
}

footer a {
  color: var(--color-1);
  padding-left: 10px;
}

.address {
  line-height: 0.5rem;
  padding-left: 10px;
}

.city {
  font-size: 1.5rem;
}
