.logo {
  padding-right: auto;
}

img {
  height: 200px;
  width: auto;
}

#navbarNav {
  max-width: fit-content;
}

.nav-list li {
  list-style: none;
}

@media (max-width: 992px) {
  img {
    height: 100px;
    width: auto;
  }
}
