@font-face {
  font-family: "Graphik";
  font-weight: 400;
  src: url("../public/fonts/GraphikRegular.woff") format("woff"),
    url("../public/fonts/GraphikRegular.ttf") format("truetype");
}

@font-face {
  font-family: "Graphik";
  font-weight: 700;
  src: url("../public/fonts/GraphikBold.woff") format("woff"),
    url("../public/fonts/GraphikBold.ttf") format("truetype");
}

:root {
  --color-1: #f1f8fc;
  --color-2: #0074c7;
  --color-3: #00497c;
  --color-4: #384050;
  --color-5: #cd2c2e;
  --color-6: #82b864;
}

* {
  font-family: "Graphik";
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4 {
  color: var(--color-3);
}

.page {
  min-height: 70vh;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
}

.page h1 {
  text-transform: uppercase;
}
